.container{
    width: 600px;
    height: 280px;
    border: 2px solid blue;
    padding: 5px;
    background-color: #F0F0F0;
}

h2{
    font-size: 16pt;
    color: blue;
    font-style: italic;
}
.verse1{
    background-color: yellow;
    float: left;
    width: 200px;
    padding: 10px;
    margin: 0 10px 0 0;
}
.verse3{
    background-color: orange;
    position: absolute;
    top: 220px;
    left: 110px;
    width: 200px;
    padding: 10px;
}
.verse4{
    background-color: rgb(255,80,0);
    color: white;
    float: right;
    width: 200px;
    padding: 10px;
    margin: 20px 40px 0 0;
}